.app__newsletter {
    padding: 2rem 4rem;
    border: 1px solid var(--color-golden);
    background: var(--color-black);
   
}
.app__newsletter-heading {
    text-align: center;
}
.app__newsletter-input{
    background-color: orange;
    padding: 0.4vw;
    margin-top: 2rem;
    border-radius: 10px;
    flex: row;
   
}
.app__newsletter-input input{
    padding:1.5rem 8rem 1.5rem 1rem;
    border: none;
    font-size: 1.4rem;
    font-family: var(--font-base);
    color: var(--color-white);
    background: var(--color-black);
    width: 620px;
    
}
.app__newsletter-input input:focus{
    outline: none;
}
.app__newsletter-input button{
    padding: 1rem 4rem ;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 25px;
    color: var(--color-white);
   text-transform: uppercase;
   transition: 0.3s ease-in-out;
   width: max-content;
}
.app__newsletter-input button:hover{
    letter-spacing: 5px;
    color: var(--color-black);
    background-color: orange;
}
@media screen and (min-width:2000px){
    .app__newsletter-input input{
        font-size: 2rem;
    }
}
@media screen and (max-width:990px){
    .app__newsletter-input{
        flex-direction: column;
        width: 100%;
    }
    .app__newsletter-input input{
        margin: 0 0 2rem 0;
        width: 100%;
        font-size: 1rem;
    }
    .app__newsletter-input button{
        font-size: 2rem;
        
    }
    
}
@media screen and (max-width:650px){
    .app__newsletter{
        padding: 2rem 0;
        border: none;
    }
}
@media screen and (max-width:300px){
    .app__newsletter-heading h1{
        font-size: 32px;
        line-height: 50px;
    }
}